{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--Home page header image-->
    <div class="container home-header">
        <div class="row">
            <div class="column">
              <img src="https://www.creativeboom.com/uploads/articles/b8/b83072c69e873dd34a8641a078f79398667e2cd2_810.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
              <img src="https://m.media-amazon.com/images/I/71LXSf7dHFL._SY450_.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
              <img src="https://cdn.shopify.com/s/files/1/2641/9480/products/gbt-29407-54743-f-a-1_large.jpg?v=1613554321" alt="Mountains" style="width:100%">
            </div>
              <div class="column">
              <img src="https://cdn.shopify.com/s/files/1/0271/7450/2538/products/product-image-967886844.jpg?v=1577349298" alt="Mountains" style="width:100%">
            </div>
          </div>
    </div>
{% endblock %}