{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--Home page header image-->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img height="100%" width="100%" src="https://i.pinimg.com/originals/48/0d/42/480d424c7eb6333050f396d3f2ef1539.jpg" alt="image1">
            </div>
            <div class="col-3">
                <img height="100%" width="100%" src="https://c.tadst.com/gfx/750x500/handbag-day-fun.jpg" alt="image2">
            </div>
            <div class="col-3">
                <img height="100%" width="100%" src="https://cdn.shopify.com/s/files/1/0271/7450/2538/products/product-image-967886844.jpg?v=1577349298" alt="img3">
            </div>
            <div class="col-3">
                <img height="100%" width="100%" src="https://media.istockphoto.com/photos/golden-bracelets-and-earrings-with-pearls-on-pink-and-white-picture-id1047601114?k=6&m=1047601114&s=612x612&w=0&h=2KUZ2jqjk2uZecDZoAZI8tvzxsE0zleLd7LUtxiblK0=" alt="imge4">
            </div>
            <div class="my-5">
                <a href="" class="shop-now-button btn btn-lg rounded-0 text-updercase py3">Shop Now</a>
            </div>
        </div>
    </div>
{% endblock %}