html {
  height: 100%;
}

body {
  background-size: cover;
  background: #fff;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #000 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

a.category-badge > span.badge:hover {
  background: #E1AD01 !important;
  color: #000 !important;
}

.text-custom {
  color: #E1AD01 !important;
}

/*-------------------------------------From Bulma */

/* centeredt and consistent size for fontawesome */

.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

/*--------------------------------------Buttons */

.btn-black {
  background: #000;
  color: #fff;
}

.btn-outline-black {
  background: #fff;
  color: #000 !important;
  border: 1px solid #000;
}

.btn-black:hover {
  color: #E1AD01;
  font-weight: bold;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::-webkit-input-placeholder {
  color: #aab7c4;
}

input[name='q']::-moz-placeholder {
  color: #aab7c4;
}

input[name='q']:-ms-input-placeholder {
  color: #aab7c4;
}

input[name='q']::-ms-input-placeholder {
  color: #aab7c4;
}

input[name='q']::placeholder {
  color: #aab7c4;
}

/*----------------------------------------Carousel */
.carousel-item {
  position: relative;
  
}

.carousel-inner {
  background-size: cover;
  overflow: hidden;
}

.cover-text{
  top: -350px;
  font-size:130%;
  width: 300px;
  height: 150px;
  background-color: rgba(225, 173, 1, 0.8);
  position: absolute;
  color: #000;
  
}

.cover-text h4 {
  padding-top: 20px;
}

/*--------------------------------------Nav Bar */

.top-nav-icon:hover {
  text-decoration: underline;
}

#main-nav a:hover {
  color: #E1AD01;
}

#main-nav a {
  color: #000;
}

.nav-item a.dropdown-item:hover {
  color: #E1AD01;
}

.nav-item {
  color: black;
}

.bag-info {
  color: #E1AD01;
}

.bag-icon:hover {
  color: #E1AD01;
}


.delivery-banner-bg {
  background-color: #E1AD01;
}

#delivery-banner h5 {
  letter-spacing: 1px;
}

.main-nav-dropdown {
  margin-top: -1px;
  border-radius: 0;
  border: none;
}

.my-account-dropdown {
  margin-top: -1px;
  border-radius: 0;
  border: none;
}

.my-account-dropdown a {
  color: #000;
}

.my-account-dropdown a:hover {
  color: #E1AD01;
}

.nav-link {
  color: #E1AD01;
}

/*---------------------------------- Action card */
.home-body-section {
  background-color: #fff;
  padding: 50px;
}

.home-body {
  max-width: 1100px;
  margin: 0 auto;
}

.custom-card-img {
  height: 275px;
  opacity: 0.6;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/*------ Products Page/breadcrumbs------*/

.breadcrumbs {
  margin-top: 50px;
  margin-bottom: 50px;
}

.breadcrumb-link, .breadcrumb-link:hover {
  color: #f15bb5;
  margin: 3px;
}

.active-breadcrumb {
  color: var(--color-black);
  margin: 3px;
}

.breadcrumbs-text {
  text-transform: uppercase;
  font-size: 1.1rem;
}

/*------ Products Details Page ------*/

#accordion {
  margin: 35px auto 50px auto;
}

.card {
  border: none;
}

.card-header {
  background-color: var(--color-white);
  border-bottom: var(--border-black);
  cursor: pointer;
  padding-left: 0;
}

.btn-link:hover {
  color: var(--color-black);
}

.product-details-additional {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 18px;
  width: fit-content;
  display: block;
  float: left;
  color: var(--color-black);
}

.accordion-card-paragraph {
  font-size: 14px;
  line-height: 170%;
}

.input-group-prdouct-quantity {
  border : black;
  width: 120px;
}

/*----------------------------------------Image Zoom*/
.zoomImage {
  overflow: hidden;
}
.zoomImage img {
  width: 300px;
  height:530px;
  max-width: 100%;
  height: auto;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

.zoomImage img:hover {
  -moz-transform: scale(2) rotate(0deg);
  -webkit-transform: scale(2) rotate(0deg);
  -o-transform: scale(2) rotate(0deg);
  -ms-transform: scale(2) rotate(0deg);
  transform: scale(2) rotate(0deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

/*----------------------------------Bootstrap toastes */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

 /* standard bootstrap btn transitions */
 transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/*---------------------------------------- media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
      max-width: 80%;
  }

  .carousel-item {
      position: relative;
      height: 75vh;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
  }

  .main-navbar {
      background-color: #fff;
      color: #000;
      height: 45px;
  }

  #main-nav a {
      color: #000;
  }

  .logo-font {
      color: #000;
  }

  #main-nav a.dropdown-item {
      color: #000;
  }

  #main-nav a.dropdown-item:hover {
      color: #E1AD01;
  }
  
  
  .header-container {
      padding-top: 150px;
  }

  .cover-text {
      top: -150px;
  }

  

}

@media (max-width: 1024px) {
  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
      padding: .375rem .375rem;
      font-size: .75rem;
  }

}

/* pad the top a bit when navbar is collapsed on mobile */

@media (max-width: 991px) {

  .header-container {
      padding-top: 95px;
  }

  body {
      height: calc(100vh - 116px);
  }

  .display-4.logo-font.text-black {
      font-size: 2rem;
  }

  .nav-link {
      padding: 0.15rem;
  }

  .nav-link i.fa-lg {
      font-size: 1rem;
  }

  .navbar-toggler {
      padding: .6rem .6rem;
      font-size: 1rem;
  }

  #delivery-banner h5 {
      font-size: .9rem !important;
      letter-spacing: 0px !important;
  }

  .btn.btn-outline-black.rounded-0,
  .btn.btn-black.rounded-0 {
      padding: .375rem .375rem;
      font-size: .75rem;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
      padding: .375rem .375rem;
      font-size: .75rem;
  }

  .increment-qty, .decrement-qty {
      padding: .25rem .5rem !important;
  }

  
  .carousel-item > img {
      -o-object-fit: cover;
         object-fit: cover;
      height: calc(100vh - 380px);
      width: 100%;
      justify-items: center;
      margin: 0;
  }

  .cover-text {
      top: -200px;
      font-size: 120%;
      width: 240px;
      height: 120px;
      padding-top: 20px;
      position: absolute;
     
  }

  .cover-text h4 {
      font-size: 100%;
      padding-top: 0px !important;
  }

  .cards {
      margin-bottom: 10px;
      
  }

}

@media (max-width: 487px) {
  .footer-container {
      height: 150px;
  }

  .social-links {
      margin-top: 15px;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
      padding: .200rem .200rem;
      font-size: .75rem;
  }

  .cover-text {
      top: -100px;
      font-size: 120%;
      width: 200px;
      height: 100px;
      padding-top: 20px;
      position: absolute;
     
  }

  .cover-text h4 {
      font-size: 80%;
      padding-top: 0px !important;
  }

  .list-inline-item .nav-title {
      font-size: .7rem;
  }

  .header-container {
      padding-top: 90px;
  }
}