<!DOCTYPE html>
<footer>
    <div class="container-fluid footer-container">
        <div class="row footer-row">
            <!-- Copyright section -->
            <div class="col-12 col-sm-4 footer-section">
                <div class="text-white">&copy; Vijayalakshmi Dhandapani 2021</div>
            </div>
            <!-- Social icon -->
            <div class="col-12 col-sm-4">
                <ul class="list-inline social-links">
                    <li class="list-inline-item footer-icon">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item footer-icon">
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fab fa-instagram-square fa-2x" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item footer-icon">
                        <a href="https://twitter.com/" target="_blank">
                            <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Contact Link-->
            <div class="contact-link col-12 col-sm-4"><a href="{% url 'contact' %}">Contact Us</a></div>
        </div>
    </div>
</footer>