<!DOCTYPE html>
<!-- Menu Dropdown -->
<div class="collapse navbar-collapse main-nav" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products button -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Clothes button -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="clothes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothes-link">
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">T-Shirts</a>
                <a href="{% url 'products' %}?category=skirts" class="dropdown-item">Skirts</a>
                <a href="{% url 'products' %}?category=dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'products' %}?category=jeans,tops,shirts,skirts,dresses" class="dropdown-item">All Clothes</a>
            </div>
        </li>
        <!-- Jewellery button -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="jewellery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jewellery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewellery-link">
                <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">Necklaces</a>
                <a href="{% url 'products' %}?category=earrings" class="dropdown-item">Earrings</a>
                <a href="{% url 'products' %}?category=rings" class="dropdown-item">Rings</a>
                <a href="{% url 'products' %}?category=necklaces,earrings,rings" class="dropdown-item">All Jewellery</a>
            </div>
        </li>
        <!--Bags button-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="bags-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bags-link">
                <a href="{% url 'products' %}?category=crossbody_bag" class="dropdown-item">Crossbody Bags</a>
                <a href="{% url 'products' %}?category=purses" class="dropdown-item">Purses</a>
                <a href="{% url 'products' %}?category=handbag" class="dropdown-item">Hand Bags</a>
                <a href="{% url 'products' %}?category=backpacks" class="dropdown-item">Backpacks</a>
                <a href="{% url 'products' %}?category=crossbody_bag,purses,handbag,backpacks" class="dropdown-item">All Bags</a>
            </div>
        </li>
        <!--Accessories button-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beauty Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=cosmetics" class="dropdown-item">Cosmetics</a>
                <a href="{% url 'products' %}?category=makeup_kit" class="dropdown-item">Makeup Kit</a>
                <a href="{% url 'products' %}?category=hair_accessories" class="dropdown-item">Hair Accessories</a>
                <a href="{% url 'products' %}?category=cosmetics,makeup_kit,hair_accessories" class="dropdown-item">All Beauty Accessories</a>
            </div>
        </li>
        <!-- Special Offer Button -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals %}" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals %}" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance %}" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance %}" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>