{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <!-- Page Heading -->
                <h2 class="text-uppercase">Blogs</h2>
                <hr class="w-50">
            </div>
        </div> 
        <!-- Page sunheading -->
        <div class="row">
            <div class="col-12 text-center mt-3 mb-3">
                <h6 class="text-uppercase">Take a look at our informative blogs.</h6>
            </div>
        </div>
        <div class="row">
            <div class="blog-container blog-section col-10 offset-1">
                {% for blog in blogs %}
                    <!-- Blog Card -->
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                <!-- Blog Image -->
                                {% if blog.image %}
                                    <a href="{% url 'blog_detail' blog.slug %}">
                                        <img src="{{ blog.image.url }}" alt="{{ blog.name }}" class="card-img img-fluid">
                                    </a>
                                {% else %}
                                <a href="{% url 'blog_detail' blog.slug %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.name }}" class="card-img img-fluid">
                                </a>
                                {% endif %}
                            </div>
                            <!-- Card Body -->
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <a href="{% url 'blog_detail' blog.slug %}" class="text-black">
                                        <h5 class="card-title blog-details-title mb-1">{{ blog.title }}</h5>
                                    </a>
                                    <small class="card-text text-muted">{{ blog.author }} | {{ blog.created_on }}</small>
                                    <!-- Superuser edit/delete buttons -->
                                    {% if request.user.is_superuser %}
                                        <small class="ml-2">
                                            <a href="{% url 'edit_blog' blog.slug %}">Edit</a> |
                                            <a href="#deleteBlog{{ blog.slug }}" class="text-danger" data-toggle="modal">Delete</a>
                                        </small>
                                    {% endif %}                                    
                                    <p class="card-text mt-2">{{ blog.body|slice:':150' }} ...</p>
                                    <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-black btn-sm text-uppercase">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- Delete Modal -->
                    <div class="modal fade text-center" id="deleteBlog{{ blog.slug }}" tabindex="-1" role="dialog" aria-labelledby="deleteBlog{{ blog.slug }}ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- Close Button -->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <!-- Modal Heading -->
                                    <h5 class="modal-title" id="deleteBlog{{ blog.slug }}Label">
                                        Are you sure you want to delete <br> "{{ blog.title }}" ? <br>
                                    </h5>
                                    <p>Once done can not undo this section.</p>
                                </div>
                                <div class="modal-footer modal-btns">
                                    <!-- Cancel button -->
                                    <button type="button" class="btn text-uppercase cancel-btn" data-dismiss="modal">Cancel</button>
                                    <!-- Delete button -->
                                    <a id="checkoutButton" href="{% url 'delete_blog' blog.slug %}" class="btn delete-btn">
                                        <span class="text-uppercase text-danger">Delete</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btt-button shadow-sm rounded-0 border border-black">
                        <a class="btt-link d-flex h-100">
                            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                        </a>	
                    </div>               
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %} 
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}