{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-image-container mx-auto">
                    <!-- Blog Image -->
                    {% if blog.image %}
                        <a href="{{ blog.image.url}}" target="_blank">
                            <img src="{{ blog.image.url }}" alt="{{ blog.name }}" class="card-img img-fluid">
                        </a>
                    {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.name }}" class="img-fluid">
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-4">
                <!-- Blog Title -->
                <h2 class="text-uppercase blog-details-title">{{ blog.title }}</h2>
                <!-- Blog Author and date -->
                <p class="text-muted">Written by <strong>{{ blog.author }} | {{ blog.created_on }}</strong></p>
                <!-- Superuser edit/delete buttons -->
                {% if request.user.is_superuser %}
                    <small class="ml-2">
                        <a href="{% url 'edit_blog' blog.slug %}">Edit</a> |
                        <a href="#deleteBlog{{ blog.slug }}" class="text-danger" data-toggle="modal">Delete</a>
                    </small>
                {% endif %}
                <!-- Blog Content -->
                <p class="blog-content">{{ blog.body }}</p>
            </div>
            <a href="{% url 'blogs' %}" class="btn btn-black rounded-0 mb-2">Back to Blogs</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 card mb-4  mt-3 ">
           <div class="card-body">
              <!-- comments -->
              <h2>{{ comments.count }} comments</h2>
              {% for comment in comments %}
              <div class="comments mb-2">
                 <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                    </span>
                 </p>
                 {{ comment.body | linebreaks }}
              </div>
              {% endfor %}
           </div>
        </div>
        <div class="col-12 card mb-4  mt-3 ">
           <div class="card-body">
              {% if new_comment %}
              <div class="alert alert-success" role="alert">
                 Your comment is awaiting moderation
              </div>
              {% else %}
              <h3>Leave a comment</h3>
              <form method="POST">
                 {{ comment_form | crispy }}
                 {% csrf_token %}
                 <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
              </form>
              {% endif %}
           </div>
        </div>
     </div>
    <!-- Delete Modal -->
    <div class="modal fade text-center" id="deleteBlog{{ blog.slug }}" tabindex="-1" role="dialog" aria-labelledby="deleteBlog{{ blog.slug }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Close Button -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- Modal Heading -->
                    <h5 class="modal-title" id="deleteBlog{{ blog.slug }}Label">
                        Are you sure you want to delete <br> "{{ blog.title }}" ? <br>
                    </h5>
                    <p>Once done can not undo this section.</p>
                </div>
                <div class="modal-footer modal-btns">
                    <!-- Cancel button -->
                    <button type="button" class="btn text-uppercase cancel-btn" data-dismiss="modal">Cancel</button>
                    <!-- Delete button -->
                    <a id="checkoutButton" href="{% url 'delete_blog' blog.slug %}" class="btn delete-btn">
                        <span class="text-uppercase text-danger">Delete</span>
                    </a>
                </div>
            </div>
        </div>
    </div>     
{% endblock %} 
